.skills {
  /* min-height: auto; */
  padding-bottom: 5rem;
  background: var(--bg-color);
}
.skills .skills-row {
  display: flex;
  flex-wrap: wrap;
  gap: 3.5rem;
}
.skills-row .skills-col {
  flex: 1 1 35rem;
}
.skills-box .skills-content-one {
  border-right: 3px solid var(--main-color);
  padding-right: 10px;
}

.skills-box .skills-content-two {
  border-left: 3px solid var(--main-color);
  padding-left: 10px;
}

.skills-box .skills-content {
  position: relative;
  border-radius: 0.5rem;
  z-index: 1;
  overflow: hidden;
}
.skills-box .skills-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--second-bg-color);
  z-index: -1;
  transition: 0.5s;
}
.skills-box .skills-content:hover:before {
  width: 100%;
}

.skills-content .progres {
  padding: 12px;
}
.skills-content .progres h2 {
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  font-weight: 700;
}
.skills-content .progres h2 span {
  color: var(--text-color);
}
.skills-content .progres .bar {
  height: 1.7rem;
  border: 3px solid var(--main-color);
  border-radius: 0.5rem;
  padding: 0.2rem;
  margin: 0.5rem 0;
}
.skills-content .progres .bar span {
  display: block;
  height: 100%;
  border-radius: 0.3rem;
  background: var(--main-color);
}

/* updated css----------------------------------- */

.each-skill {
  position: relative;
  border-radius: 25px 25px;
  padding: 2px;
  background: var(--second-bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  cursor: pointer;
}
.each-skill::before {
  position: absolute;
  width: 170%;
  height: 170%;
  content: "";
  background-image: conic-gradient(
    transparent,
    transparent,
    transparent,
    #ee00ff
  );
  animation: rotate_border 10s linear infinite;
}
.each-skill::after {
  position: absolute;
  width: 170%;
  height: 170%;
  content: "";
  background-image: conic-gradient(
    transparent,
    transparent,
    transparent,
    #00ccff
  );
  animation: rotate_border 10s linear infinite;
  animation-delay: -3s;
}

@keyframes rotate_border {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.border-fixe {
  content: "";
  inset: 5px;
  z-index: 10;
  color: #00ccff;
}
.img-style {
  border-radius: 25px 25px;
  width: 100%;
  height: auto;
  transition: transform 0.3s ease-in-out;
}
.each-skill:hover .img-style {
  transform: scale(1.5); /* Zoom effect */
}

.skill-name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #f1e9e9;
  font-weight: bold;
  opacity: 0;
  font-size: 2rem;
  transition: opacity 0.3s ease-in-out;
  background: rgba(0, 0, 0, 0.6);
  padding: 5px 10px;
  border-radius: 8px;
}

.each-skill:hover .skill-name {
  opacity: 1; /* Show skill name on hover */
}

@media screen and (max-width: 575px) {
  .skills-box .skills-content-one {
    border-right: none;
    padding-right: 0;
  }
  .skills-box .skills-content-two {
    border-left: none;
    padding-left: 0;
  }
  .skills .skills-row {
    gap: 0;
  }

  /* updated css--------------------------------------- */

  .skill-name {
    font-size: 1rem;
    padding: 3px 8px;
  }
}
