.contact-form-container{
    position: relative;
    width: 400px;
    height: 470px;
    background: var(--second-bg-color);
    border-radius: 50px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    /* margin-top: 70px; */
}
.contact-form-container::before{
    position: absolute;
    width: 170%;
    height: 170%;
    content: "";
    background-image: conic-gradient(transparent, transparent, transparent, #ee00ff);
    animation: rotate_border 6s linear infinite;
}
.contact-form-container::after{
    position: absolute;
    width: 170%;
    height: 170%;
    content: "";
    background-image: conic-gradient(transparent, transparent, transparent, #00ccff);
    animation: rotate_border 6s linear infinite;
    animation-delay: -3s;
}

@keyframes rotate_border{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.contact_form{
    position: absolute;
    content: "";
    background-color: #0c1022;
    border-radius: 50px 5px;
    inset: 5px;
    padding: 50px 40px;
    z-index: 10;
    color: #00ccff;
}
.input_group{
    margin-top: 40px;
    position: relative;
    display: flex;
    align-items: center;
    /* justify-content: start; */
}
.input_text{
    width: 95%;
    height: 30%;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid #00ccff;
    font-size: 20px;
    padding-left: 10px;
    color: #00ccff;
}

::placeholder{
    font-size: 15px;
    color: #00ccff52;
    letter-spacing: 1px;
}
.input_group p{
    font-size: 20px;
}
.submit-button{
    position: relative;
    width: 300px;
    height: 40px;
    transition: 1s;
    margin-top: 70px;
}
.submit-button input{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    cursor: pointer;
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 2px;
    border: 1px solid #00ccff;
    border-radius: 50px;
    background-color: #0c1022;
    display: flex;
    justify-content: center;
    align-items: center;

}
/* .submit-button{
    margin-top: 20px;
    position: relative;
    display: flex;
    justify-content:space-between;
    width: 300px;
    height: 50px;

}
.submit-button input{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: var(--main-color);
    border: 3px solid var(--main-color);
    border-radius: .5rem;
    font-size: 1.2rem;
    color: var(--bg-color);
    font-weight: 600;
    z-index: 1;
    overflow: hidden;

} */
/* .submit-button input::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background:var(--bg-color);
    z-index: -1;
    transition: .5s;

} */
/* .submit-button input{
    background: transparent;
    color: var(--main-color);
}
.submit-button input:hover {
    color: var(--bg-color);
}

.submit-button input::before {
    background: var(--main-color);
}
.submit-button:hover::before{
    width: 100%;
} */

.info{
    line-height: 10px;
}
.infos{
    margin-left: 20px;
}
@media screen and (max-width: 575px){
    .contact-form-container{
        position: relative;
        /* padding: 0 5px; */
        width: 100%;
        height: 470px;
        background: var(--second-bg-color);
        border-radius: 50px 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        /* margin-top: 70px; */
    }
}
